.navbar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    height: 70px;
    border-radius: 6px;
    box-shadow: 0px 2px 92px 0px rgba(0,0,0,0.07);
}
.navbar_container ul.navbar {
    display: flex;
    align-items: center;
    padding:15px;
}
.navbar_container li.navbar_item {
    list-style: none;
    width: auto;
    padding: 10px;
    font-weight: bold;
    color:var(--main-color);
    font-size:18px;
}
.navbar_container li.navbar_item:hover{
    color:var(--menu-hover-color)
}
li.navbar_item.menu-active{
    color:var(--menu-hover-color) !important
}
