


.top_60{
  margin-top:60px;
}
.page_container{
  background-color: #fff;
  border-radius: 6px;
  display:flex;
  flex-direction: column;
  padding:20px 0;
  box-shadow: 0px 2px 92px 0px rgba(0,0,0,0.07);
  margin-bottom:30px;
}
.section{
  margin-bottom: 20px;
}
.section_title{
  position:relative;
  display:inline-block;
  padding:0 3px;
  margin-bottom: 20px !important;
 
}
.section_title > Typography{
 
}
.underline{
  display:block;
  width:50px;
  border:2px solid var(--secondary-color);
  text-align: center;
}
@media (max-width:991px){
  .top_60{
    margin-top:30px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
